In [1]:
#pip install -U scikit-learn

In [2]:
#regrassao multipla
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt

## Bases dos aeroportos

In [3]:
filename = 'cwb_nac.xlsx'
dados = pd.read_excel(filename)
dados

    Unnamed: 0   Ano  Passageiros
0            0  2000      2981167
1            1  2001      3198439
2            2  2002      3860727
3            3  2003      3317577
4            4  2004      3341621
5            5  2005      4105119
6            6  2006      4229466
7            7  2007      4653920
8            8  2008      4927837
9            9  2009      5782028
10          10  2010      6828663
11          11  2011      7968244
12          12  2012      7692451
13          13  2013      7376152
14          14  2014      7805243
15          15  2015      7511752
16          16  2016      6295255
17          17  2017      6580928
18          18  2018      6200060
19          19  2019      6364930
20          20  2020      2481817

In [4]:
filename = 'igu_int.xlsx'
dados1 = pd.read_excel(filename)

In [5]:
filename = 'igu_nac.xlsx'
dados2 = pd.read_excel(filename)

In [6]:
filename = 'nvt_int.xlsx'
dados3 = pd.read_excel(filename)
dados3

    Unnamed: 0   Ano  Passageiros
0            0  2000            0
1            1  2001            0
2            2  2002            0
3            3  2003            0
4            4  2004          366
5            5  2005         4041
6            6  2006         2087
7            7  2007            0
8            8  2008            0
9            9  2009            0
10          10  2010            0
11          11  2011            0
12          12  2012            0
13          13  2013            0
14          14  2014            0
15          15  2015            0
16          16  2016            0
17          17  2017         4044
18          18  2018        47394
19          19  2019        13487
20          20  2020            0

In [7]:
filename = 'nvt_nac.xlsx'
dados4 = pd.read_excel(filename)

In [8]:
filename = 'pmw.xlsx'
dados5 = pd.read_excel(filename)

In [9]:
filename = 'slz.xlsx'
dados8 = pd.read_excel(filename)

In [10]:
filename = 'cwb_int.xlsx'
dados9 = pd.read_excel(filename)

## Variaveis macro economicas

In [11]:
filename = r'C:\Users\guido\OneDrive\Documentos\GitHub\IJR_DECOLAGEM\Voos\Dados macros\Renda per capta.xlsx'
renda = pd.read_excel(filename)

In [12]:
filename = r'C:\Users\guido\OneDrive\Documentos\GitHub\IJR_DECOLAGEM\Voos\Dados macros\statistic_id262858_opec-oil-price-annually-1960-2022.xlsx'
oil = pd.read_excel(filename)

In [13]:
filename = r'C:\Users\guido\OneDrive\Documentos\GitHub\IJR_DECOLAGEM\Voos\Dados macros\Base de dados Dólar.xlsx'
dolar = pd.read_excel(filename)

In [14]:
filename = r'C:\Users\guido\OneDrive\Documentos\GitHub\IJR_DECOLAGEM\Voos\Dados macros\statistic_id270812_inflation-rate-in-brazil-2027.xlsx'
inflacao = pd.read_excel(filename)

In [15]:
filename = r'C:\Users\guido\OneDrive\Documentos\GitHub\IJR_DECOLAGEM\Voos\Dados macros\Pib per capita.xlsx'
pib = pd.read_excel(filename)

## Teste de acuracia

In [16]:
#Junção dos dados
principal=(dados
 .join(oil.set_index('Ano'),on='Ano')
 .join(dolar.set_index('Ano'),on='Ano')
 .join(inflacao.set_index('Ano'),on='Ano')
 .join(pib.set_index('Ano'),on='Ano')
          )

In [17]:
principal

,Unnamed: 0,Ano,Passageiros,Preço,Valor do dólar,inflaçao,inflacao,SC,TO,MA,PR
0,0,2000,2981167,27.60,1.9678,7.04,0.0704,9683.086027,4305.684986,2669.802983,8909.627810
1,1,2001,3198439,23.12,2.3840,6.84,0.0684,9683.086027,4305.684986,2669.802983,8909.627810
2,2,2002,3860727,24.36,3.7342,8.45,0.0845,9683.086027,4305.684986,2669.802983,8909.627810
3,3,2003,3317577,28.10,2.9293,14.71,0.1471,11218.202322,5244.628976,3223.633703,10984.759852
4,4,2004,3341621,36.05,2.7508,6.60,0.0660,12688.698510,5643.129937,3606.646252,12188.816752
5,5,2005,4105119,50.59,2.2957,6.87,0.0687,13843.071531,5888.751798,4036.602029,12452.722161
6,6,2006,4229466,61.00,2.1470,4.18,0.0418,15225.491018,6497.686237,4714.893652,13311.713647
7,7,2007,4653920,69.04,1.7959,3.64,0.0364,17083.019145,7523.460144,4815.638298,15821.769407
8,8,2008,4927837,94.10,2.3690,5.68,0.0568,19707.380303,8799.775498,5872.989839,17616.384136
9,9,2009,5782028,60.86,1.7557,4.89,0.0489,20632.086574,9790.081920,6274.973401,18491.388680
10,10,2010,6828663,77.38,1.6988,5.04,0.0504,24203.415265,11560.014156,7012.488584,20990.406685
11,11,2011,7968244,107.46,1.8609,6.64,0.0664,27023.082585,12815.906166,7716.722164,23944.932777
12,12,2012,7692451,109.45,2.0840,5.40,0.0540,29367.068759,14267.298630,8897.135024,26392.096313
13,13,2013,7376152,105.87,2.3354,6.20,0.0620,32402.751459,16216.066803,9902.438854,30571.428534
14,14,2014,7805243,96.29,2.6717,6.33,0.0633,36147.213738,17632.131736,11176.531248,31649.803509
15,15,2015,7511752,49.49,3.8703,9.03,0.0903,36616.941708,19242.192988,11346.620194,33994.112544
16,16,2016,6295255,40.76,3.3830,8.74,0.0874,37242.893594,20773.361662,12265.826574,35952.654441
17,17,2017,6580928,52.51,3.3176,3.45,0.0345,39696.521175,22186.315403,12802.525384,37426.798294
18,18,2018,6200060,69.78,3.9090,3.67,0.0367,42149.295872,22933.074856,13955.753813,38772.741699
19,19,2019,6364930,64.04,4.0301,3.73,0.0373,45118.412074,25021.801742,13757.943155,40788.769489
20,20,2020,2481817,41.47,5.1961,3.21,0.0321,45118.412074,25021.801742,13757.943155,40788.769489

In [18]:
Y= principal["Passageiros"].copy()
X= principal.drop(["Passageiros","Ano","MA","TO","SC","inflaçao","Unnamed: 0"],axis=1).copy()

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42)

In [20]:
reg= LinearRegression()
reg.fit(X_train, y_train)
YpredL= reg.predict(X_test)
print(YpredL)
print(y_test)
regForest= RandomForestRegressor(n_estimators=1000,random_state=42)
regForest.fit(X_train,y_train)
YpredF= regForest.predict(X_test)
print(YpredF)
print(y_test)
ML=mean_squared_error(y_test,YpredL)
ML=ML**0.5
print(ML)
MF=mean_squared_error(y_test,YpredF)
MF=MF**0.5
print(MF)
print(r2_score(y_test,YpredF))
print(r2_score(y_test,YpredL))

[3722284.5089955  5552559.10480749 5504497.71315369 3190627.163538
 6186660.30779689 4509429.44482272]
0     2981167
17    6580928
15    7511752
1     3198439
8     4927837
5     4105119
Name: Passageiros, dtype: int64
[3795769.75  5398409.247 5539421.276 3757252.961 7205522.405 3872645.476]
0     2981167
17    6580928
15    7511752
1     3198439
8     4927837
5     4105119
Name: Passageiros, dtype: int64
1109356.540194691
1384809.5243786
0.3173474721524884
0.561911437143676

In [21]:
reg.fit(X_train, y_train)

LinearRegression()

In [22]:
YpredL= reg.predict(X_test)

In [23]:
print(YpredL)
print(y_test)

[3722284.5089955  5552559.10480749 5504497.71315369 3190627.163538
 6186660.30779689 4509429.44482272]
0     2981167
17    6580928
15    7511752
1     3198439
8     4927837
5     4105119
Name: Passageiros, dtype: int64

In [24]:
regForest= RandomForestRegressor(n_estimators=1000,random_state=42)
regForest.fit(X_train,y_train)
YpredF= regForest.predict(X_test)
print(YpredF)

[3795769.75  5398409.247 5539421.276 3757252.961 7205522.405 3872645.476]

In [25]:
print(YpredF)
print(y_test)

[3795769.75  5398409.247 5539421.276 3757252.961 7205522.405 3872645.476]
0     2981167
17    6580928
15    7511752
1     3198439
8     4927837
5     4105119
Name: Passageiros, dtype: int64

In [26]:
ML=mean_squared_error(y_test,YpredL)
ML=ML**0.5
ML

1109356.540194691

In [27]:
MF=mean_squared_error(y_test,YpredF)
MF=MF**0.5
MF

1384809.5243786

In [28]:
r2_score(y_test,YpredF)

0.3173474721524884

In [29]:
r2_score(y_test,YpredL)

0.561911437143676

## Curitiba nacional

In [47]:
principal=(dados
 .join(oil.set_index('Ano'),on='Ano')
 .join(dolar.set_index('Ano'),on='Ano')
 .join(inflacao.set_index('Ano'),on='Ano')
 .join(pib.set_index('Ano'),on='Ano')
          )

Y= principal["Passageiros"].copy()
X= principal.drop(["Passageiros","Ano","MA","TO","SC","inflaçao","Unnamed: 0","Preço", "Valor do dólar"],axis=1).copy()
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42)
reg.fit(X_train, y_train)
YpredL= reg.predict(X_test)
#print(YpredL)
#print(y_test)
regForest= RandomForestRegressor(n_estimators=1000,random_state=42)
regForest.fit(X_train,y_train)
YpredF= regForest.predict(X_test)
print(YpredF)
print(y_test)
ML=mean_squared_error(y_test,YpredL)
ML=ML**0.5
#print(ML)
MF=mean_squared_error(y_test,YpredF)
MF=MF**0.5
print(MF)
print(r2_score(y_test,YpredF))
#print(r2_score(y_test,YpredL))

[3811694.917 5530211.927 6740914.256 3811694.917 6534637.99  3684299.205]
0     2981167
17    6580928
15    7511752
1     3198439
8     4927837
5     4105119
Name: Passageiros, dtype: int64
959422.852171749
0.672327694995954

In [46]:
loc= principal.loc[principal["Ano"]<2020]
loc.drop(["Ano","MA","TO","SC","inflaçao","Unnamed: 0"],axis=1).corr()

                Passageiros     Preço  Valor do dólar  inflacao        PR
Passageiros        1.000000  0.474653        0.495322 -0.325744  0.976504
Preço              0.474653  1.000000       -0.336762 -0.422720  0.424921
Valor do dólar     0.495322 -0.336762        1.000000  0.166638  0.529664
inflacao          -0.325744 -0.422720        0.166638  1.000000 -0.319772
PR                 0.976504  0.424921        0.529664 -0.319772  1.000000

## Curitiba internacional

In [51]:
#Junção dos dados
principal=(dados9
 .join(oil.set_index('Ano'),on='Ano')
 .join(dolar.set_index('Ano'),on='Ano')
 .join(inflacao.set_index('Ano'),on='Ano')
 .join(pib.set_index('Ano'),on='Ano')
          )

Y= principal["Passageiros"].copy()
X= principal.drop(["Passageiros","Ano","MA","TO","SC","inflaçao","Unnamed: 0","Preço","PR"],axis=1).copy()
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42)
reg.fit(X_train, y_train)
YpredL= reg.predict(X_test)
#print(YpredL)
#print(y_test)
regForest= RandomForestRegressor(n_estimators=1000,random_state=42)
regForest.fit(X_train,y_train)
YpredF= regForest.predict(X_test)
print(YpredF)
print(y_test)
ML=mean_squared_error(y_test,YpredL)
ML=ML**0.5
#print(ML)
MF=mean_squared_error(y_test,YpredF)
MF=MF**0.5
print(MF)
print(r2_score(y_test,YpredF))
#print(r2_score(y_test,YpredL))

[122458.184  60702.892  31901.61  105213.274  86372.581 105214.272]
0        329
17     54011
15    124619
1        581
8      91231
5      60198
Name: Passageiros, dtype: int64
78054.27081399437
-2.011681286749499

In [50]:
principal.drop(["Ano","MA","TO","SC","inflaçao","Unnamed: 0"],axis=1).corr()

                Passageiros     Preço  Valor do dólar  inflacao        PR
Passageiros        1.000000  0.773569       -0.348367 -0.253722  0.290889
Preço              0.773569  1.000000       -0.363982 -0.360308  0.337536
Valor do dólar    -0.348367 -0.363982        1.000000 -0.023018  0.605463
inflacao          -0.253722 -0.360308       -0.023018  1.000000 -0.380168
PR                 0.290889  0.337536        0.605463 -0.380168  1.000000

## Foz nacional

In [54]:
#Junção dos dados
principal=(dados2
 .join(oil.set_index('Ano'),on='Ano')
 .join(dolar.set_index('Ano'),on='Ano')
 .join(inflacao.set_index('Ano'),on='Ano')
 .join(pib.set_index('Ano'),on='Ano')
          )

Y= principal["Passageiros"].copy()
X= principal.drop(["Passageiros","Ano","MA","TO","SC","inflaçao","Unnamed: 0","Preço"],axis=1).copy()
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42)
reg.fit(X_train, y_train)
YpredL= reg.predict(X_test)
#print(YpredL)
#print(y_test)
regForest= RandomForestRegressor(n_estimators=1000,random_state=42)
regForest.fit(X_train,y_train)
YpredF= regForest.predict(X_test)
print(YpredF)
print(y_test)
ML=mean_squared_error(y_test,YpredL)
ML=ML**0.5
#print(ML)
MF=mean_squared_error(y_test,YpredF)
MF=MF**0.5
print(MF)
print(r2_score(y_test,YpredF))
#print(r2_score(y_test,YpredL))

[ 607252.788 1851108.717 1871018.273  583293.904  782143.665  638117.417]
0      456034
17    2045897
15    1937928
1      411660
8      734807
5      791705
Name: Passageiros, dtype: int64
141759.5447185579
0.955434321745543

In [55]:
principal.drop(["Ano","MA","TO","SC","inflaçao","Unnamed: 0"],axis=1).corr()

                Passageiros     Preço  Valor do dólar  inflacao        PR
Passageiros        1.000000  0.488935        0.314683 -0.279686  0.862345
Preço              0.488935  1.000000       -0.363982 -0.360308  0.337536
Valor do dólar     0.314683 -0.363982        1.000000 -0.023018  0.605463
inflacao          -0.279686 -0.360308       -0.023018  1.000000 -0.380168
PR                 0.862345  0.337536        0.605463 -0.380168  1.000000

## Foz internacional

In [59]:
#Junção dos dados
principal=(dados1
 .join(oil.set_index('Ano'),on='Ano')
 .join(dolar.set_index('Ano'),on='Ano')
 .join(inflacao.set_index('Ano'),on='Ano')
 .join(pib.set_index('Ano'),on='Ano')
          )

Y= principal["Passageiros"].copy()
X= principal.drop(["Passageiros","Ano","MA","TO","SC","inflaçao","Unnamed: 0"],axis=1).copy()
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42)
reg.fit(X_train, y_train)
YpredL= reg.predict(X_test)
#print(YpredL)
#print(y_test)
regForest= RandomForestRegressor(n_estimators=1000,random_state=42)
regForest.fit(X_train,y_train)
YpredF= regForest.predict(X_test)
print(YpredF)
print(y_test)
ML=mean_squared_error(y_test,YpredL)
ML=ML**0.5
#print(ML)
MF=mean_squared_error(y_test,YpredF)
MF=MF**0.5
print(MF)
print(r2_score(y_test,YpredF))
#print(r2_score(y_test,YpredL))

[ 7223.492 80206.349 62037.409  8823.227 17386.875 13657.961]
0      2942
17    63667
15    72702
1       509
8      1069
5     28150
Name: Passageiros, dtype: int64
12589.89905829154
0.8232011691867245

In [39]:
principal.drop(["Ano","MA","TO","SC","inflaçao","Unnamed: 0"],axis=1).corr()

                Passageiros     Preço  Valor do dólar  inflacao        PR
Passageiros        1.000000  0.392320        0.406664 -0.210305  0.804991
Preço              0.392320  1.000000       -0.363982 -0.360308  0.337536
Valor do dólar     0.406664 -0.363982        1.000000 -0.023018  0.605463
inflacao          -0.210305 -0.360308       -0.023018  1.000000 -0.380168
PR                 0.804991  0.337536        0.605463 -0.380168  1.000000

## Navegantes nacional

In [63]:
#Junção dos dados
principal=(dados4
 .join(oil.set_index('Ano'),on='Ano')
 .join(dolar.set_index('Ano'),on='Ano')
 .join(inflacao.set_index('Ano'),on='Ano')
 .join(pib.set_index('Ano'),on='Ano')
          )

Y= principal["Passageiros"].copy()
X= principal.drop(["Passageiros","Ano","MA","TO","PR","inflaçao","Unnamed: 0","Preço"],axis=1).copy()
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42)
reg.fit(X_train, y_train)
YpredL= reg.predict(X_test)
#print(YpredL)
#print(y_test)
regForest= RandomForestRegressor(n_estimators=1000,random_state=42)
regForest.fit(X_train,y_train)
YpredF= regForest.predict(X_test)
print(YpredF)
print(y_test)
ML=mean_squared_error(y_test,YpredL)
ML=ML**0.5
#print(ML)
MF=mean_squared_error(y_test,YpredF)
MF=MF**0.5
print(MF)
print(r2_score(y_test,YpredF))
#print(r2_score(y_test,YpredL))

[ 426397.831 1566188.411 1536137.401  423916.231  508871.512  413711.868]
0      861385
17    1541221
15    1463783
1      603000
8      361877
5      484669
Name: Passageiros, dtype: int64
205663.82991416487
0.8016701619246063

In [64]:
principal.drop(["Ano","MA","TO","PR","inflaçao","Unnamed: 0"],axis=1).corr()

                Passageiros     Preço  Valor do dólar  inflacao        SC
Passageiros        1.000000  0.325389        0.413502 -0.281194  0.858919
Preço              0.325389  1.000000       -0.363982 -0.360308  0.367436
Valor do dólar     0.413502 -0.363982        1.000000 -0.023018  0.591676
inflacao          -0.281194 -0.360308       -0.023018  1.000000 -0.405888
SC                 0.858919  0.367436        0.591676 -0.405888  1.000000

## Palmas

In [67]:
#Junção dos dados
principal=(dados5
 .join(oil.set_index('Ano'),on='Ano')
 .join(dolar.set_index('Ano'),on='Ano')
 .join(inflacao.set_index('Ano'),on='Ano')
 .join(pib.set_index('Ano'),on='Ano')
          )

Y= principal["Passageiros"].copy()
X= principal.drop(["Passageiros","Ano","MA","SC","PR","inflaçao","Unnamed: 0","Preço"],axis=1).copy()
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42)
reg.fit(X_train, y_train)
YpredL= reg.predict(X_test)
#print(YpredL)
#print(y_test)
regForest= RandomForestRegressor(n_estimators=1000,random_state=42)
regForest.fit(X_train,y_train)
YpredF= regForest.predict(X_test)
print(YpredF)
print(y_test)
ML=mean_squared_error(y_test,YpredL)
ML=ML**0.5
#print(ML)
MF=mean_squared_error(y_test,YpredF)
MF=MF**0.5
print(MF)
print(r2_score(y_test,YpredF))
#print(r2_score(y_test,YpredL))

[134789.438 616941.867 644141.118 117594.739 248312.794 162880.084]
0     128941
17    674712
15    689519
1     115362
8     236840
5     192132
Name: Passageiros, dtype: int64
32718.571138226354
0.98224258371248

In [43]:
principal.drop(["Ano","PR","MA","SC","inflaçao","Unnamed: 0"],axis=1).corr()

                Passageiros     Preço  Valor do dólar  inflacao        TO
Passageiros        1.000000  0.554202        0.228014 -0.301043  0.823425
Preço              0.554202  1.000000       -0.363982 -0.360308  0.283685
Valor do dólar     0.228014 -0.363982        1.000000 -0.023018  0.642862
inflacao          -0.301043 -0.360308       -0.023018  1.000000 -0.386035
TO                 0.823425  0.283685        0.642862 -0.386035  1.000000

## São Luis

In [69]:
#Junção dos dados
principal=(dados8
 .join(oil.set_index('Ano'),on='Ano')
 .join(dolar.set_index('Ano'),on='Ano')
 .join(inflacao.set_index('Ano'),on='Ano')
 .join(pib.set_index('Ano'),on='Ano')
          )

Y= principal["Passageiros"].copy()
X= principal.drop(["Passageiros","Ano","SC","TO","PR","inflaçao","Unnamed: 0","Preço"],axis=1).copy()
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42)
reg.fit(X_train, y_train)
YpredL= reg.predict(X_test)
#print(YpredL)
#print(y_test)
regForest= RandomForestRegressor(n_estimators=1000,random_state=42)
regForest.fit(X_train,y_train)
YpredF= regForest.predict(X_test)
print(YpredF)
print(y_test)
ML=mean_squared_error(y_test,YpredL)
ML=ML**0.5
#print(ML)
MF=mean_squared_error(y_test,YpredF)
MF=MF**0.5
print(MF)
print(r2_score(y_test,YpredF))
#print(r2_score(y_test,YpredL))

[ 614626.714 1835366.551 1943363.419  594187.291  796208.594  662103.98 ]
0      458976
17    2109564
15    2010630
1      412169
8      735876
5      819855
Name: Passageiros, dtype: int64
166128.58633932576
0.9437352488562615

In [70]:
principal.drop(["Ano","PR","TO","SC","inflaçao","Unnamed: 0"],axis=1).corr()

                Passageiros     Preço  Valor do dólar  inflacao        MA
Passageiros        1.000000  0.485642        0.320673 -0.277060  0.867358
Preço              0.485642  1.000000       -0.363982 -0.360308  0.340016
Valor do dólar     0.320673 -0.363982        1.000000 -0.023018  0.600454
inflacao          -0.277060 -0.360308       -0.023018  1.000000 -0.395103
MA                 0.867358  0.340016        0.600454 -0.395103  1.000000

## Correlação